@font-face {
   font-family: 'PT Sans Narrow';
   font-style: normal;
   font-weight: 700;
   src: url('file:///C:/Users/Diana%20Mar%C3%ADa%20Barrero/Desktop/Frelance/mi%20portafolio//fonts/PT Sans Narrow/700.ttf') format('truetype');
}
@font-face {
   font-family: 'PT Sans Narrow';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Diana%20Mar%C3%ADa%20Barrero/Desktop/Frelance/mi%20portafolio//fonts/PT Sans Narrow/regular.ttf') format('truetype');
}
